

header{
    display: flex;
    background-color: #899349  ;
    border-bottom: 10px solid none;
   padding: 10px 20px;
   justify-content: space-between;
   align-items: center;
    
}

#logod{
    width: 200px;
    height: 40px;
}


.roda{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 900ms linear;
}

.roda:hover{
    transform:  rotate(556deg) 
}

.menu{
    display: inline-flex;
    color: #ffffff;
    font-size: 20px;
    font-family: "fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
    align-items: center;
    transition: transform 200ms linear;
}

.minhafoto{
    display: inline-block;
}
