*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #899349;
    border-bottom: 10px solid #000;
   padding: 10px 20px;
   justify-content: space-between;
   align-items: center;
    
}

#logod{
    
    width: 200px;
    height: 40px;

}


nav{
   text-align: right;


}


#roda{

    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 900ms linear;

}

#roda:hover{

    transform:  rotate(556deg) 
}



a{
    display: inline-flex;
    color: #ffffff;
    font-size: 20px;
    font-family: "fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
    align-items: center;
    transition: transform 200ms linear;
    
}




#button{
    background-color: #C41F33;
    display: inline-block;
    padding: 18px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0px;
    transition: transform 200ms linear;

}
#button:hover{
    transform: translateX(10px) rotate(15deg) translateY(5px);
    background-image: url(assets/imgs/pneu.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

