.skills{
    background-color: #78733C;
    height: 800px;
    border-bottom: 10px solid black;
 

}

.skills-list{
    display: flex;
    font-family: "Press Start 2P";
    font-size: 25px;
    color: white;
    
}

.skills-list .icon{
    margin-right: 25px;
}




